body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.green{
    background-color: green;
}

.todo__items p span{
    font-size: 0.9em;
}